.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0px;
}

/* Nav Section */

nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.logo-heading{
    display: flex;
    font-size: 1.25rem;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 32px;
    font-size: 1.25rem;
    list-style: none;
}
.school-icon{
    display: 100%;
}
.nav-menu{
    display: flex;
}

#home{
    color: rgb(254, 163, 1);
    text-decoration: none;
}
#about{
    color: rgb(1, 172, 253);
    text-decoration: none;
}
#facilities{
    color: rgb(5, 212, 223);
    text-decoration: none;
}
#admission{
    color: rgb(93, 88, 239);
    text-decoration: none;
}
nav button{
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    height: 50px;
    width: 200px;
}

@media screen and (max-width: 576px){
    .logo-heading>h1,.contact{
        display: none;
    }
    
}

/* Banner Section */

.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 100px;
    gap: 30px;
    padding: 20px;
}
.banner h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
#text-color-1{
    color: rgb(254, 163, 1);
}
#text-color-2{
    color: rgb(1, 172, 253);
}
.banner p{
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.banner button{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    border: none;
}

@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

/* Standard Curriculum Section */
.section-2{
    background-image: url("../assets/bg.png");
}
.section-header{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    margin-top: 70px;
}
.card-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 100px;
    gap: 20px;

}
.card-items *{
    margin-top: 20px;
}
.card-items img{
    height: 100px;
}
.card-content{
    text-align: center;
    border-radius: 12px;
    padding: 20px;
}
#card-1{
    background-image: linear-gradient(180deg, rgba(222, 245, 255, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(222, 245, 255, 100%);
}
#card-2{
    background-image: linear-gradient(180deg, rgba(255, 244, 220, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(255, 244, 220, 100%);
}
#card-3{
    background-image: linear-gradient(180deg, rgba(238, 225, 255, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(238, 225, 255, 100%);
}
.card-content h4{
    font-size: 1.25rem;
}
.card-content p{
    font-size: 1.15rem;
}
#btn-1, #btn-2, #btn-3{
    border: none;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    background: none;
}
#btn-1{
    color: #64C8FF;
}
#btn-2{
    color: #F0AA00;
}
#btn-3{
    color: #8700FF;
}
.guide-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}
.btn-design{
    background-color: #F0AA00;
    color: white;
    font-size: 2rem;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 576px) {
    .card-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: (calc(90% - 200px));
    }
    .guide-btn{
        display: none;
    }
    .section-2{
        background-image: none;
    }
}