.quicksand-font {
	font-family: "Quicksand", serif;
}

body {
	margin: 0 0;
}

/* Navbar section */

nav {
	background-color: #e2e0da40;
}

#navbar-section {
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo-header {
	display: flex;
	font-size: 1.15rem;
	align-items: center;
}

#menu-list {
	display: flex;
	gap: 20px;
}

.links {
	text-decoration: none;
	font-size: 1.5rem;
}

#home-link {
	color: rgb(254, 163, 1);
}

#about-link {
	color: rgb(1, 172, 253);
}

#facilities-link {
	color: rgb(5, 212, 223);
}

#admission-link {
	color: rgb(93, 88, 239);
}

#contact-btn {
	background-color: rgb(254, 163, 1);
	color: rgb(255, 255, 255);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	border: none;
	padding: 5px;
	height: 2.5rem;
	width: 8.5rem;
	cursor: pointer;
}

marquee {
	width: 100%;
	direction: left;
	font-size: 1.25rem;
	font-weight: 600;
	color: rgb(111, 76, 156);
}

/* Navbar made responsive */

@media screen and (max-width: 576px) {
	#contact-btn,
	#menu-list {
		display: none;
	}

	.logo {
		width: 80%;
		padding: 1rem 0;
	}
}

/* Banner section */

#banner-section {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#title-div {
	width: 60%;
}

#banner-heading {
	font-size: 3rem;
	margin-bottom: 1.25rem;
}

#text-color-1 {
	color: rgb(254, 163, 1);
}

#text-color-2 {
	color: rgb(1, 172, 253);
}

#banner-description {
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
}

#banner-btn {
	background-color: rgb(17, 17, 17);
	color: rgb(255, 255, 255);
	font-size: 1.25rem;
	border-radius: 0.5rem;
	height: 3rem;
	width: 10rem;
	border: none;
	cursor: pointer;
}

/* Banner section made responsive */

@media screen and (max-width: 576px) {
	#banner-section {
		flex-direction: column-reverse;
		text-align: center;
	}

	#banner-img {
		width: 100%;
	}

	#title-div {
		width: 100%;
		margin: 0 auto;
	}
}

/* Curriculum section */

.curriculum-bg {
	background-image: url("../assets/bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#curriculum-section {
	width: 90%;
	margin: 0 auto;
}

.section-header {
	text-align: center;
	margin-top: 1.25rem;
	font-size: 2.25rem;
	margin-top: 50px;
}

#Curriculum-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: stretch;
	gap: 1rem;
}

.card-content {
	text-align: center;
	border-radius: 1rem;
	padding: 1.25rem;
	width: fit-content;
}

#card-1 {
	background-image: linear-gradient(
		180deg,
		rgb(198, 225, 236),
		rgba(255, 255, 255)
	);
	border: 1px solid rgba(198, 225, 236);
}

#card-2 {
	background-image: linear-gradient(
		180deg,
		rgb(243, 228, 196),
		rgba(255, 255, 255)
	);
	border: 1px solid rgba(243, 228, 196);
}

#card-3 {
	background-image: linear-gradient(
		180deg,
		rgba(238, 225, 255),
		rgba(255, 255, 255)
	);
	border: 1px solid rgba(238, 225, 255);
}

.card-content img {
	height: 20vh;
}

.card-content h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.card-content p {
	font-size: 1.15rem;
	margin-bottom: 1rem;
}

#read-more-1,
#read-more-2,
#read-more-3 {
	font-size: 1.25rem;
	text-decoration: none;
	font-weight: 600;
}

#read-more-1 {
	color: #64c8ff;
}

#read-more-2 {
	color: #f0aa00;
}

#read-more-3 {
	color: #8700ff;
}

#arrow-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	gap: 1rem;
}

.btn-design {
	background-color: #f0aa00;
	border: none;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	cursor: pointer;
}

.arrow-img {
	width: 2rem;
	fill: rgba(255, 255, 255, 100%);
}

/* Curriculum section made responsive */

@media screen and (max-width: 576px) {
	#Curriculum-card {
		grid-template-columns: repeat(1, 1fr);
	}

	#arrow-btn {
		display: none;
	}
}

@media screen and (min-width: 576.01px) and (max-width: 992px) {
	#Curriculum-card {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
	}
}

/* Stories section */

.stories-bg {
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255),
			rgba(254, 163, 1, 30%)
		),
		url("../assets/bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#stories-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.story-1 {
	grid-row: span 2;
}

.stories {
	border-radius: 1rem;
	background-color: white;
	position: relative;
}

.stories img {
	width: 100%;
	object-fit: cover;
	border-radius: 12px 12px 0px 0px;
}

.story-title {
	padding: 0 1.25rem;
	font-size: 1.25rem;
}

.date-card {
	margin-left: 1rem;
	margin-top: -1.5rem;
	font-size: 1.25rem;
	width: fit-content;
	background-color: #01acfd;
	border-radius: 7rem;
	padding: 0.5rem;
	position: absolute;
	z-index: 1;
}

#view-btn {
	display: flex;
	justify-content: center;
}

.btn-property {
	margin: 2rem auto;
	text-align: center;
	background-color: rgb(254, 163, 1);
	color: rgb(255, 255, 255);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	border: none;
	padding: 5px;
	height: 2.5rem;
	width: 8.5rem;
	cursor: pointer;
}

/* Story section made responsive */

@media screen and (max-width: 576px) {
	#stories-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
}

@media screen and (min-width: 576.01px) and (max-width: 992px) {
	#stories-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Footer section */

#footer-section {
	background-color: #89d4f7;
}

#footer-container {
	width: 90%;
	margin: 0 auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	align-items: end;
	gap: 5rem;
}

#logo-footer {
	display: flex;
	align-items: center;
}

.footer-header {
	font-weight: 800;
	font-size: 2rem;
}

.footer-text {
	font-weight: 400;
	font-size: 1.25rem;
}

.about-school {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
}

.links {
	color: rgb(58, 51, 51);
}

.social-links {
	margin-right: 0.75rem;
}

/* Footer section made responsive */

@media screen and (max-width: 768px) {
	#footer-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;
	}
}
