.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}

/* Navigation Bar Section */

.navbar{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-heading{
    display: flex;
    font-size: 1.25rem;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 35px;
    font-size: 1.25rem;
    list-style: none;
}
#home{
    color: rgb(254, 163, 1);
    text-decoration: none;
}
#about{
    color: rgb(1, 172, 253);
    text-decoration: none;
}
#facilities{
    color: rgb(5, 212, 223);
    text-decoration: none;
}
#admission{
    color: rgb(93, 88, 239);
    text-decoration: none;
}
.contact-btn{
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    height: 50px;
    width: 200px;
}
marquee{
    width: 100%;
    direction: left;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(111, 76, 156);
}

/* Navigation Bar Made Responsive */

@media screen and (max-width: 576px){
    .navbar{
        max-width: 90%;
        margin: 0 auto;
    }
    
    .logo-heading > h1,
    .contact-btn,
    .menu-list{
        display: none;
    }
}

/* Banner Section */

.banner{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.banner-img{
    margin: 0 auto;
}
.banner-heading{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
#text-color-1{
    color: rgb(254, 163, 1);
}
#text-color-2{
    color: rgb(1, 172, 253);
}
.banner-description{
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.btn-primary{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    border: none;
}

/* Banner Section Made Responsive */

@media screen and (max-width: 576px) {
    .banner{
        max-width: 90%;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .banner-img{
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Standard Curriculum Section */

.bg-image-1{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.section-header{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    margin-top: 70px;
}
.card-items{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
}
.card-content{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
}
#card-1{
    background-image: linear-gradient(180deg, rgba(222, 245, 255, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(222, 245, 255, 100%);
}
#card-2{
    background-image: linear-gradient(180deg, rgba(255, 244, 220, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(255, 244, 220, 100%);
}
#card-3{
    background-image: linear-gradient(180deg, rgba(238, 225, 255, 100%), rgba(255, 255, 255, 100%));
    border: 0.5px solid rgba(238, 225, 255, 100%);
}
.card-content img{
    width: auto;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.card-content h4{
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.card-content p{
    font-size: 1.15rem;
    margin-bottom: 20px;
}
#btn-1, #btn-2, #btn-3{
    border: none;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    background: none;
}
#btn-1{
    color: #64C8FF;
}
#btn-2{
    color: #F0AA00;
}
#btn-3{
    color: #8700FF;
}
.guide-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}
.btn-design{
    background-color: #F0AA00;
    color: white;
    font-size: 2rem;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Standard Curriculum Section Made Responsive */

@media screen and (max-width: 576px) {
    .card-items{
        max-width: 90%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .guide-btn{
        display: none;
    }
}

/* Story Section */

.bg-image-2{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 100%), rgba(254, 163, 1, 30%)), url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.story-content{
    display: flex;
    gap: 15px;
    max-width: 80%;
    margin: 0 auto;
}
.story-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.story{
    border-radius: 12px;
    background-color: white;
}
.story img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.description{
    padding: 0px 20px;
    font-size: 1.15rem;
}
.addition{
    height: 60%;
    width: 100%;
}
.specific{
    width: 45%;
}
.story-show-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.test{
    margin-left: 20px;
    margin-top: -32px;
    font-size: 1.25rem;
    width: fit-content;
    background-color: #01ACFD;
    border-radius: 100px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

/* Story Section Made Responsive */

@media screen and (max-width: 576px) {
    .bg-image-2{
        max-width: 100%;
        margin: 0 auto;
    }
    #story-1{
        display: none;
    }
    .story-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .story{
        height: calc(100vh / 1.9);
    }
    .test{
        margin-left: 20px;
        max-width: 50%;
    } 
}

/* Footer Section */

.footer-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: #01ACFD;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.text-style{
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
}
.footer-header{
    font-weight: 800;
    font-size: 2.25rem;
}
.about-header{
    font-weight: 600;
    font-size: 2rem;
}
.links-header{
    font-weight: 600;
    font-size: 2rem;
}
.logo{
    display: block;
    position: relative;
    z-index: 1;
}
.link-section img{
    margin-right: 15px;
}
footer ul{
    list-style: none;
}
footer li{
    margin-bottom: 20px;
}

/* Footer Section Made Responsive */

@media screen and (max-width: 576px) {
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}